<div class="container">

    <div class="instructions">
        <ol>
            <h3>Please read the below points carefully.</h3>
            <li>Maximum score: 150 points</li>
            <li>10 marks will be awarded for each question</li>
            <li>Zero marks will be awarded if not attempted</li>
            <li>There is no negative marking</li>
            <li>There are total 15 questions</li>
            
        </ol>

    </div>
    <div>
        <h2 class="bg-light text-align-center">Click on start test to begin.</h2>
    </div>
    <input class="start" type="button" value="Start Test" (click)="startTestEventHandler();">
</div>